html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.bg-black{
    background-color:#151515 !important
}

.content {
    min-height: 100%;
    position: relative;
}

.text-secondary {
    color: #0900ea !important;
    font-weight: 300;
}

.login-background {
    background-image: url('../Content/Imagens/background_login.jpg');
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    padding-bottom: 200px; /* Height of the footer */
}

.nav-button {
    width: 125px;
}

.scrollable-menu {
    height: auto;
    max-height: 250px;
    overflow-x: hidden;
}

#header-text {
    text-shadow: 3px 3px 5px black;
    font-weight: 400;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
