@{
    ViewBag.Title = "Home Page";
}

<div class="text-center" style="background-image: url('../Content/Imagens/header.png');background-position:left top;background-size:contain;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 id="header-text" class="text-light text-uppercase display-4 m-4 text-center">
                    CTRL
                    <br>+
                    <br>Money
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="bg-light">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-12">
                <h1 class="pb-3 text-secondary text-center">
                    Obtenha o controle financeiro que você precisa
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="text-right col-md-6">
                <div class="row my-5">
                    <div class="col-2 order-lg-2 col-2 text-center">
                        <i class="d-block fa fa-3x fa-money"></i>
                    </div>
                    <div class="col-10 text-lg-right text-left order-lg-1">
                        <h4 class="text-primary">Controle seus gastos</h4>
                        <p>
                            Em momentos de crise, sempre é importante ficar ligado as despesas para evitar ser pego de surpresa e ficar endividado.
                        </p>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col-2 order-lg-2 col-2 text-center">
                        <i class="d-block fa fa-calendar-check-o fa-3x"></i>
                    </div>
                    <div class="col-10 text-lg-right text-left order-lg-1">
                        <h4 class="text-primary">Mantenha despesas fixas</h4>
                        <p>
                            Você pode informar gastos que são fixos em todos os meses, evitando de reinforma-los.
                        </p>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col-2 order-lg-2 col-2 text-center">
                        <i class="d-block fa  fa-3x fa-pie-chart"></i>
                    </div>
                    <div class="col-10 text-lg-right text-left order-lg-1">
                        <h4 class="text-primary">Dashboard</h4>
                        <p>
                            Diversas formas de visualização gráfica, dentre elas, ao longa da semana, mês e ano
                        </p>
                    </div>
                </div>
            </div>
            <div class="text-left col-md-6">
                <div class="row my-5">
                    <div class="col-2 text-center">
                        <i class="d-block fa fa-3x fa-history"></i>
                    </div>
                    <div class="col-10">
                        <h4 class="text-primary">Veja seu histórico</h4>
                        <p>
                            Acompanhe suas despesas, receitas e fluxo de caixa ao longo do tempo, e entenda como sua situação financeira tem se desenrolado.
                        </p>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col-2 text-center">
                        <i class="d-block mx-auto fa  fa-3x fa-line-chart"></i>
                    </div>
                    <div class="col-10">
                        <h4 class="text-primary">Obtenha previsões</h4>
                        <p>
                            Você terá previsões do seu fluxo de caixa a partir do seu histórico.
                        </p>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col-2 text-center">
                        <i class="d-block fa  fa-3x fa-wpforms"></i>
                    </div>
                    <div class="col-10">
                        <h4 class="text-primary">
                            Usabilidade
                        </h4>
                        <p>
                            Sistema simples e fácil de usar, além de ser focado em UX.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>